In [12]:
import datatable as dt
import pandas as pd

data = dt.fread('cancer1.dt')
del data[0:7,:]

df = pd.DataFrame(DT.to_pandas())
df

      C0   C1   C2   C3   C4   C5   C6   C7   C8     C9    C10
0    0.2  0.1  0.1  0.1  0.2  0.1  0.2  0.1  0.1   True  False
1    0.2  0.1  0.1  0.1  0.2  0.1  0.3  0.1  0.1   True  False
2    0.5  0.1  0.1  0.1  0.2  0.1  0.2  0.1  0.1   True  False
3    0.5  0.4  0.6  0.8  0.4  0.1  0.8  1.0  0.1  False   True
4    0.5  0.3  0.3  0.1  0.2  0.1  0.2  0.1  0.1   True  False
..   ...  ...  ...  ...  ...  ...  ...  ...  ...    ...    ...
694  0.5  0.1  0.2  0.1  0.2  0.1  0.1  0.1  0.1   True  False
695  0.7  0.5  0.6  1.0  0.5  1.0  0.7  0.9  0.4  False   True
696  0.6  1.0  1.0  1.0  0.8  1.0  0.7  1.0  0.7  False   True
697  0.5  0.7  1.0  1.0  0.5  1.0  1.0  1.0  0.1  False   True
698  0.1  0.1  0.1  0.1  0.2  0.1  0.2  0.1  0.1   True  False

[699 rows x 11 columns]